:root {
  --med-blue: rgb(94, 94, 248);
  --off-white: rgb(240, 234, 234);
  --dark-gray: rgb(78, 77, 77);
  --light-blue: rgb(170, 170, 240);
}

.header {
  background-color: var(--med-blue);
  color: var(--off-white);
  text-align: center;
}

.btn-primary {
  padding: 6px;
  color: var(--off-white);
  text-transform: uppercase;
  text-decoration: none;
  background: var(--med-blue);
  background-size: 500%;

}

.btn-primary:hover {
  animation: animate 8s linear infinite;
}

.btn {
  padding: 6px;
  color: var(--dark-gray);
  text-transform: uppercase;
  text-decoration: none;
  background: var(--med-blue);
  border:2px

}

.daily {
  border: 2px solid;
}

#card {
  background-color: var(--dark-gray);
  color: var(--off-white);
}

